#p1Sprite {
    height: 250px;
    width: 250px;
    border: 10px solid black;
    background: url("p1Sprite.png")
      0px 0px;
  }

#p2Sprite {
  height: 250px;
  width: 250px;
  border: 10px solid black;
  background: url("p1Sprite.png")
    0px 0px;
  transform: scaleX(-1)

}

#sprite-container {
  display: flex;
  justify-content: space-around;
}


button {
  font-size: large;
}
#btn-container {
  width: 200px;
  margin: auto;
  
}